
    <!-- <div class="row no-gutters vh-100 loader-screen">
        <div class="col align-self-center text-white text-center">
            <img src="assets/img/logo.png" alt="logo">
            <h1><span class="font-weight-light">Namma</span>BBMP</h1>
            <div class="laoderhorizontal"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>-->
    <div class="row no-gutters vh-100 proh bg-template">
         <!-- <img src="assets/img/seminallogo.png" alt="logo" class="apple right-image align-self-center"> -->
             <!--<img src="assets/img/seminallogo.png" alt="logo" class="logo-small">-->
        <div class="col align-self-center px-3  text-center">
            <!-- <img src="img/logo.png" alt="logo" class="logo-small">-->
            <h2 class="text-white"><span class="font-weight-light"></span>Welcome to WTAX Dashboard</h2> 
            <form class="form-container shadow">
                

                
<br>
<br>

                <div class="form-group">
                   
                       <select class="form-control form-control-lg">
                        <option value="0">- Please Select City -</option>
                        <option value="1" >Ranebennur</option>
                        <option value="2" >Harihara</option>
                        <option value="3" >Kundapur</option>
                        </select>
                </div>

                <br>
                <div class="row">
                    <div class="col-auto">
                        <a routerLink="/home" class="btn btn-lg btn-default btn-rounded shadow"><span>Go</span><i class="material-icons">arrow_forward</i></a>       
                        <br>
                        <br>
                        <a routerLink="/login">Logout</a> here.
                    </div>
                </div>

                
            </form>
            <p class="text-center text-white">
                Powered By- Seminal Softwares Pvt Ltd, Vijayapur<br>
               
            </p>
        </div>
    </div>
    
